body {
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.3)),
    url("https://i.pinimg.com/736x/82/51/c5/8251c54ef0e6431f2f843f2b3f294f91.jpg");
  backdrop-filter: blur(3px);
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.btn {
  color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 5px 5px 45px rgba(255, 255, 255, 0.6);
  transition: 2s;
}
.btn:hover {
  width: 160px;
  height: 60px;
  color: white;
}
section {
  padding-bottom: 130px;
}
.mycontainer {
  height: 85vh;
  width: 100%;
}
.mycontainerr {
  height: 91vh;
  width: 100%;
  padding-top: 30px;
}
@media (max-width: 992px) {
  .mycontainerr {
    height: 140vh;
  }
}
@media (max-width: 540px) {
  .mycontainerr {
    height: 110vh;
    padding-top: 0px;
  }
  .myheading {
    font-size: 12px;
  }
}
