body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menuactive {
  font-weight: 900;
  border-bottom: 1px solid white;
}

.nav-link {
  color: white !important;
}

.navbar-brand {
  color: white;
}

.animated {
  animation: Moveup 2s linear infinite;
}

.card-body {
  color: black;
}

.mybutton {
  background: none;
  color: white;
  padding: 8px 60px;
  border-radius: 13px;
  box-shadow: 15px 15px 20px rgba(255, 255, 255, 0.2);
}
.mybutton:hover {
  width: 180px;
  height: 50px;
}

@keyframes Moveup {
  0%,
  100% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(60px);
  }
}
